@page "/"


<AuthorizeView>
    <Authorized>
        @if (authState.User.Identity.Name != null)
        {
            <p>
                <h2> Hallo, @authState.User.Identity.Name </h2>
                Welkom bij Bitmail
            </p>
        }
    </Authorized>
    <NotAuthorized>
        <h2>Welkom bij Bitmail</h2>
        <p>
            In deze webapplicatie kunt u contactpersonen, organisaties en labels bijhouden. U kunt vervolgens e-mails versturen op basis van deze labels.
            Om andere pagina's te bezoeken moet u inloggen.
        </p>
        <a role="button" class="btn btn-primary" href="/Identity/Account/Login">Login</a>
    </NotAuthorized>
</AuthorizeView>
