@page  "/labels"
@using Bitmail.Models

<h3>Labels</h3>
<input class="form-control col-3" @bind-value="keyword" @bind-value:event="oninput" placeholder="Zoeken..." />
<hr>
<div class="vertical-menu">
    @foreach (Tag item in FilteredTags)
    {
      <button type="button" style="width:100%;" class="btn btn-light">@item.Title</button><br />
    }
</div>
