@page  "/labels"
@using Bitmail.Models

<h3>Labels</h3>
<input @bind-value="keyword" @bind-value:event="oninput" placeholder="Zoeken..." />

<ul>
    @foreach (Tag item in FilteredTags)
    {
      <li>@item.Title</li>
    }
</ul>
